.boardContainer {
    max-width: 100%;
    margin: 50px auto 30px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.formContainer {
    max-width: 100%;
    margin: 50px auto 30px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align-last: center;
}

.post, .postForm {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.postText {
    color: #000000a6;
}

.post {
    margin-bottom: 10px;
}

.postTitle {
    font-size: 18px;
}

.postContent {
    margin-top: 10px;
}

.postForm {
    padding: 20px;
    border: 1px solid #e6e6e6;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.postForm h3 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.postForm input[type="text"], .postForm textarea {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.postForm textarea {
    min-height: 200px;
}

.postForm button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 15px 30px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s;
}

.postForm button:hover {
    background-color: #0056b3;
}

.fileInputButton {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
}

.fileInputButton input[type="file"] {
    display: none;
}

.fileInputButton:hover {
    background-color: #0056b3;
}

.postPhotoBox {
    position: relative;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 24px;
    color: #ccc;
    text-align: center;
    cursor: pointer;
}

.postPhotoBox:hover {
    border-color: #007bff;
}

.postPhotoBox img {
    max-width: 100%;
    max-height: 100%;
    display: block;
}

.imageContainer {
    display: inline-block;
    position: relative;
}

.cancelButton {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: #ff0000;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    font-size: 12px;
    cursor: pointer;
}
.submitButton {
    align-items: center;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 15px 30px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s;
    margin-top: 30px;
}

.submitButton:hover {
    background-color: #218838;
}