/* link 버튼 */
.linkButtonContainer {
    text-align: right; /* 버튼 컨테이너를 오른쪽으로 정렬 */
}

.linkButton {
    background-color: #3498db;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: large;
    transition: background-color 0.3s ease;
    display: inline-block; /* 글자 길이만큼만 가지도록 설정 */
    width: auto; /* 글자 길이에 따라 너비 자동 조정 */
    margin-bottom: 5px;
}

.linkButton:hover {
    background-color: #2980b9;
}