/* 게시물 그리드 스타일 */
.photoPostGridWrap{
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
    padding: 10px;
    overflow: hidden; /* 페이지네이션 컴포넌트를 요소 내에 유지 */
}
.photoPostGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 13px; /* 간격 설정 */
}

.photoPost {
    width: calc(25% - 10px); /* 각 게시물 사이에 10px 간격을 주기 위해 33.33%로 설정합니다. */
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    padding: 20px;
    text-align: center;
}
.photoPost a {
    display: flex;
    flex-direction: column; /* 요소를 세로로 배치합니다. */
    align-items: center; /* 세로 중앙 정렬 */
}
.title {
    text-align: center; /* 제목 가로 중앙 정렬 */
    margin-top: 10px; /* 이미지 아래로 일정한 간격 추가 */
}

.photoBox{
    max-width: 220px;
    max-height: 220px;
}

.photoPost img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* 이미지를 확대 또는 축소하여 채움 */
}

/* 스마트폰 미디어 쿼리 */
@media screen and (max-width: 768px) {
    .photoPost {
        width: calc(33.33% - 10px); /* 각 게시물 사이에 10px 간격을 주기 위해 33.33%로 설정합니다. */
    }
    /* 스마트폰에 대한 스타일 설정 */
}