@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "삼립호빵체";
  src: url("../public/font/SDSamliphopangcheTTFBasic.ttf");
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* 스마트폰 미디어 쿼리 */
@media screen and (max-width: 768px) {
  .custom-swiper-bg{
    margin: 0 0 30px 0 !important;
  }
  .homeGrid{
    margin: 0 0 0 0 !important;
  }
  /* 스마트폰에 대한 스타일 설정 */
}

/* 태블릿 미디어 쿼리 */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .custom-swiper-bg{
    margin: 0 0 30px 0 !important;
  }
  .homeGrid{
    margin: 0 0 0 0 !important;
  }

  /* 태블릿에 대한 스타일 설정 */
}

/* 데스크톱 미디어 쿼리 */
@media screen and (min-width: 1025px) {

  /* 데스크톱에 대한 스타일 설정 */
}

body {
  margin: 0;
  padding: 0;
  font-family: '삼립호빵체', sans-serif;
  background-color: #fff; /* 검정 배경색 */
  color: #222; /* 흰 글자색 */
}

/* 헤더 고정 스타일 */
header {
  font-family: '삼립호빵체', sans-serif;
  background-color: #ffffff;
  color: #333;
  padding: 20px;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000; /* 다른 요소 위에 렌더링될 수 있도록 높은 z-index 설정 */
}

/* 푸터 고정 스타일 */
footer {
  font-family: '삼립호빵체', sans-serif;
  background-color: #ffffff;
  color: #333;
  text-align: center;
  padding: 10px;
  /*position: fixed;*/
  /*bottom: 0;*/
  /*left: 0;*/
  /*right: 0;*/
  /*z-index: 1000; !* 다른 요소 위에 렌더링될 수 있도록 높은 z-index 설정 *!*/
}

/* 메인 컨텐츠 아래에 여백 추가 */
main {
  font-family: '삼립호빵체', sans-serif;
  padding: 130px 20px 50px; /* 헤더와 푸터의 높이만큼 여백 추가 */
}

textarea
{
  resize: none;
}

.content {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
}
.homeGrid{
  margin: 0 140px 0 140px;
}
/* 스와이퍼 */
.swiper {
  max-width: 1550px;
  width: 100%;
  height: 100%;
}

.swiper-container {
  width: 100%; /* 스와이퍼 컨테이너를 원하는 크기로 설정 */
  height: 100%; /* 스와이퍼 컨테이너의 높이 설정 */
}

.swiper-slide img {
  width: 100%; /* 이미지를 스와이퍼 슬라이드의 너비에 맞게 설정 */
  height: 100%; /* 이미지의 높이를 자동으로 조정 */
  object-fit: cover;
  /*background-color:#dddddd;*/
  /*background-repeat : no-repeat;*/
  /*background-size : cover;*/
  /*background-position : 50% 50%;*/
}

.custom-swiper-bg {
  color: blue;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 140px 30px 140px;
}


.pagination {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.page-item {
  margin: 3px;
}

.page-link {
  display: block;
  padding: 5px 8px;
  color: #333;
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.page-link:hover {
  background-color: #007bff;
  color: #fff;
}

/* 현재 페이지 버튼에 스타일 추가 */
.pagination .page-item.active .page-link {
  background-color: #007bff; /* 배경색 설정 */
  color: #fff; /* 글꼴 색상 설정 */
}

