@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
  background-color: #fff; /* 검정 배경색 */
  color: #222; /* 흰 글자색 */
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 15px;
}

.logo a {
  font-family: 'Nunito', sans-serif;
  color: #222; /* 흰 글자색 */
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  font-family: 'Nunito', sans-serif;
}

.nav-links li {
  margin-right: 20px;
}

.nav-links a {
  color: #222; /* 흰 글자색 */
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #ff5722; /* 링크에 호버 시 색상 변경 */
}

/* 토글 버튼 스타일 */
.burger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.line1, .line2, .line3 {
  width: 25px;
  height: 3px;
  background-color: #222; /* 흰색 */
  margin: 4px 0;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-10px);
  }
}

main {
  padding: 20px;
}

.content {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
}


/* 헤더 고정 스타일 */
header {
  background-color: #ffffff;
  color: #333;
  padding: 20px;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000; /* 다른 요소 위에 렌더링될 수 있도록 높은 z-index 설정 */
}

/* 푸터 고정 스타일 */
footer {
  background-color: #ffffff;
  color: #333;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000; /* 다른 요소 위에 렌더링될 수 있도록 높은 z-index 설정 */
}

/* 메인 컨텐츠 아래에 여백 추가 */
main {
  padding: 130px 20px 50px; /* 헤더와 푸터의 높이만큼 여백 추가 */
}

/* 스마트폰 미디어 쿼리 */
@media screen and (max-width: 768px) {
  .swiper-slide img{
    min-height: 110px;
  }
  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    background-color: #fff;
    width: 100%;
    top: 80px;
    left: 0;
    text-align: center;
    z-index: 1;
  }

  .nav-links.active {
    display: flex;
  }

  .burger {
    display: flex;
  }
  /* 네비게이션 바의 초기 스타일 */
  .nav-links {
    display: none;
    animation: fade-out 0.5s ease-in-out; /* 초기에는 페이드 아웃 애니메이션 적용 */
  }

  /* 버튼 클릭 시 열리는 스타일 */
  .nav-links.active {
    display: flex;
    animation: fade-in 0.5s ease-in-out; /* 열릴 때 페이드 인 애니메이션 적용 */
  }

  .burger .line1.active,
  .burger .line2.active,
  .burger .line3.active {
    background-color: #fff; /* 햄버거 아이콘을 흰색으로 변경 */
  }
  /* 스마트폰에 대한 스타일 설정 */
}

/* 태블릿 미디어 쿼리 */
@media screen and (min-width: 769px) and (max-width: 1024px) {

  /* 태블릿에 대한 스타일 설정 */
}

/* 데스크톱 미디어 쿼리 */
@media screen and (min-width: 1025px) {

  /* 데스크톱에 대한 스타일 설정 */
}

/*img {*/
/*  width: 1000px;*/
/*  height: 500px;*/
/*  object-fit: cover;*/
/*}*/

/*게시판 컨테이너 스타일:*/
.board-container {
  max-width: 100%; /* 게시판 컨테이너의 최대 너비 */
  margin: 0 auto 30px; /* 가운데 정렬 */
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
}
/*게시글 스타일:*/
.post {
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.post-title {
  font-size: 18px;
  font-weight: bold;
}

.post-content {
  margin-top: 10px;
}

/*게시글 작성 폼 스타일:*/
.post-form {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.post-form input[type="text"],
.post-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.post-form button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

textarea
{
  resize: none;
}

.swiper-container {
  width: 100%; /* 스와이퍼 컨테이너를 원하는 크기로 설정 */
  height: 400px; /* 스와이퍼 컨테이너의 높이 설정 */
  max-height: 400px; /* 스와이퍼 컨테이너의 높이 설정 */
}

.swiper-slide img {
  width: 100%; /* 이미지를 스와이퍼 슬라이드의 너비에 맞게 설정 */
  height: auto; /* 이미지의 높이를 자동으로 조정 */
}

.custom-swiper-bg {
  color: blue;
  background-color: lightgray;
  padding: 10px;
  border: 1px solid black;
  margin-bottom:30px;
}

/* 게시물 그리드 스타일 */
.photo-post-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.photo-post {
  width: calc(33.33% - 10px); /* 각 게시물 사이에 10px 간격을 주기 위해 33.33%로 설정합니다. */
  margin-bottom: 20px;
  border: 1px solid #ddd;
  padding: 20px;
  text-align: center;
}